package.json
package-lock.json
node_modules/*
config/*.json
.cache/*
.config/*
.upm/*
dist/*
build.*
!build.ts
tsc.*
!tsc.ts
src/detect-zh/src/*.ts
!src/detect-zh/src/*-source.ts
logs/*
!logs/README.md
data/*
!data/**/*.md